<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="text-center">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">

 <div style="text-align: center ;margin-top:10px">
        <ion-img [src]=logo></ion-img>
 </div>

  <div style="margin-top:10%;margin-left:10%;margin-right:10%;">
    <ion-item>
      <ion-label position="floating" color="primary">Login</ion-label>
      <ion-input [(ngModel)]="username" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Password</ion-label>
      <ion-input [(ngModel)]="password" type="password" ></ion-input>
    </ion-item>
  </div>
  <div style="margin-top:1% ;margin-right:8%">
      <ion-button class="ion-float-right" (click)="_login()">
      Sign In
      <ion-icon name="log-in" slot="end"></ion-icon>
    </ion-button>
  </div>
</ion-content>
